.message-container {
  background-color: rgb(110, 217, 253);
  border-radius: 10px;
  width: 35%;
  padding: 10px;
  margin: 10px 20px;
}

.message-reciever {
  margin-left: auto;
  background-color: aquamarine;
}

.message-container > h6 {
  font-size: 1.5rem;
  padding: 3px 0 3px;
}

.message-container > p {
  padding: 5px;
}

.message-timestamp {
  color: grey;
}
